body{
 text-align: center;
 font-size: 150%;
 background: linear-gradient(to bottom left, #e3c3a1, #ede991);
 background-attachment: fixed;
}
a, a:hover, a:focus, a:active {
     text-decoration: none;
     color: inherit;
 }
